[submodule "kernel"]
	path = kernel
	url = https://github.com/ilobilix/kernel
[submodule "support/ovmf-binaries"]
	path = support/ovmf-binaries
	url = https://github.com/ilobilo/ovmf-binaries
	shallow = true
